@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'TopLuxury';
  src: url('./assets/fonts/TOPLUXURY.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DINAlternate';
  src: url('./assets/fonts/DIN Alternate Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --color-hamptoon: #EAD3AA;
  --color-jungle-green: #233427;
  --color-timberwolf: #E3D9CF;
  --color-c-black: #030303;

  --font-roboto: 'Roboto', sans-serif;
  --font-belleza: 'Belleza', sans-serif;
  --font-topluxury: 'TopLuxury', serif;
  --font-dinalternate: 'DINAlternate', serif;
}
